body {
	padding-top: 80px;
}

.btn-toolbar {
  margin-left: 250px;
}

.navbar-brand {
  float: none;
  margin-top: 30px;
}

.navbar > .container {
  padding-top: 15px;
}

.navbar>.container .navbar-brand {
  margin-left: 0;
}

.alert {

  position: relative;
  

}

path {
	/*stroke: steelblue;*/
	stroke-width: 4;
	fill: none;
}

path:hover{
	stroke-width: 8;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}