{% extends "skeleton.html" %}

{% block content %}

<div id="controls" class="row">
	<button class="btn btn-default btn-lg">Year</button>
</div>

<div class="row">
	<div id="graph" class="aGraph"></div>
</div>



{% endblock %}

{% block extra_js %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='interactions.js') }}" charset="utf-8"></script>

<script>
	/* implementation heavily influenced by http://bl.ocks.org/1166403 */
	
	// define dimensions of graph
	var m = [60, 60, 60, 60]; // margins
	var w = $('.container').width() - m[1] - m[3]; // width
	var h = 500 - m[0] - m[2]; // height
	
	var url = "{{ url_for('interactions') }}";

	draw_plot(url, m, w, h, 1, 14);


</script>

{% endblock %}