{% extends "skeleton.html" %}

{% block content %}

<div id="controls" class="row">
	<div class="btn-toolbar center-block" role="toolbar">
		<div class="btn-group">
			<button id="refresh-button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-refresh"></span></button>
			<button id="aggregate-button" class="btn btn-default btn-md">Aggregate</button>
		</div>

		<div class="btn-group">
		 	<button id="day-frequency-button" type="button" class="btn btn-default btn-md" data-frequency='1'>Daily</button>
		 	<button id="week-frequency-button" type="button" class="btn btn-default btn-md" data-frequency='7'>Weekly</button>
		 	<button id="month-frequency-button" type="button" class="btn btn-default btn-md" data-frequency='30'>Monthly</button>
		</div>

		<div class="btn-group">
		 	<button id="week-period-button" type="button" class="btn btn-default btn-md" data-period='7'>7 days</button>
		 	<button id="month-period-button" type="button" class="btn btn-default btn-md" data-period='30'>30 days</button>
		 	<button id="3-months-period-button" type="button" class="btn btn-default btn-md" data-period='90'>90 days</button>
		 	<button id="year-period-button" type="button" class="btn btn-default btn-md" data-period='365'>365 days</button>
		</div>
	</div>
</div>

<div class="row">
	<div id="graph" class="aGraph"></div>
</div>



{% endblock %}

{% block extra_js %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='interactions.js') }}" charset="utf-8"></script>

<script>
	/* implementation heavily influenced by http://bl.ocks.org/1166403 */
	
	// define dimensions of graph
	var m = [60, 60, 60, 60]; // margins
	var w = $('.container').width() - m[1] - m[3]; // width
	var h = 500 - m[0] - m[2]; // height

	initialize_graph(m, w, h);
	
	var url_data = "{{ url_for('interactions') }}";

	Interactions = {};
	Interactions.frequency = 7;
	Interactions.period = 365;

	draw_plot(url_data, m, w, h, Interactions.frequency, Interactions.period, false);

	initialize_aggregate_button(url_data, m, w, h);
	initialize_refresh_button();
	initialize_buttons (url_data, m, w, h);


</script>

{% endblock %}